*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color:  #d1e3ffa0;
}

a{
  text-decoration: none !important;
}

.header_section .container-fluid {
  --primary-color:#0a0f43;
    padding: 10px 25px;
    background-color: var(--primary-color);
  }
  
  
  /* .header_section .header_bottom {
    padding: 10px 0;
  } 
   */
  .header_section button {
    --primary-color:#0355cc;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 15px;
    color:darkblue;
    padding: 0.5em 1em;
    /* background: var(--primary-color); */
    background-color:  #d1e3ff;
    display: flex;
    /* transition: 0.2s background; */
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-right:1rem;
  }
  
  .header_section button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header_section button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    /* background: var(--primary-color); */
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .header_section button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .header_section button:hover {
    background-color: var(--hover-color);
    color: white;
  }
  
  .header_section button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .header_section button:hover .arrow:before {
    right: 0;
  }
  
  .navbar-brand {
    padding: 0;
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-brand span {
    color:#d1e3ff; 
    text-transform: uppercase;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 25px;
    color: #000000;
    text-align: center;
  }
  
  .custom_nav-container .navbar-nav .nav-item #login-btn{
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #0355cc;
  }

  .custom_nav-container .navbar-toggler {
    outline: none;
    border: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before,
  .custom_nav-container .navbar-toggler span::after {
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 0;
    margin-bottom: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
    display: none;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin: 0;
    margin-top: -4px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
  .custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
    -webkit-transform: none;
            transform: none;
  }
  
  .quote_btn-container {
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .quote_btn-container a {
    color: #ffffff;
    margin-right: 25px;
    text-transform: uppercase;
  }
  
  .quote_btn-container a span {
    margin-left: 5px;
  }
  
  .quote_btn-container a:hover {
    color: #ff8a1d;
  }


  /* footer section*/
.footer_section {
  background-color: #0a0f43;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top:115px;
}

.footer_section p {
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
  text-align: center;
  /* border-top: 0.8px solid #ffffff; */
}

.footer_section a {
  color: inherit;
}

/* end footer section*/

  